const form = (
  <form action='/login' method='post'>
    <input name='email' type='email' placeholder='Email' />
    <input name='password' type='password' placeholder='Password' />
    <button type='submit'>Log In</button>
  </form>
);
