import React from 'react';
import { render } from 'react-dom';

const Header = React.createClass({
  render() {
    return (
      <div className='Header'>
        <img src='/images/logo.png' alt='Logo' />
        <h1>{this.props.title}</h1>
      </div>
    );
  },
});

render(
  <Header title='My Super Header' />,
  document.getElementById('header')
);
