const FormValues = React.createClass({

  // Other methods...

  render() {
    return (
      <div>
        <form onSubmit={this.handleSubmit}>
          <input
            name='input'
            type='text'
            placeholder='Type something...'
          />
        </form>
        <pre>
          Input value:
          <span>{this.state.val}</span>
        </pre>
      </div>
    );
  },
});
