// Some data....
var shoppingList = [
  { id: 1, val: 'Food' },
  { id: 2, val: 'Drinks' },
  { id: 3, val: 'Plates' },
];

// The render method...
render() {
  var components = shoppingList.map(item => (
    <li key={item.id}>{item.val}</li>
  ));

  return (
    <ul>
      {components}
    </ul>
  );
}
