import React from 'react';
import { Text } from 'spectacle';
import normalizeUrl from 'normalize-url';

// formatUrl(url: String) => String
export function formatUrl(url) {
  if (
    typeof url === 'string' &&
    url.length > 4 &&
    url.indexOf('.') !== -1
  ) {
    // prevent trailing / from being stripped during typing
    let lastChar = '';
    if (url.substring(url.length - 1) === '/') {
      lastChar = '/';
    }
    // prevent normalize-url from stripping last dot during typing
    if (url.substring(url.length - 1) === '.') {
      lastChar = '.';
    }
    return normalizeUrl(url) + lastChar;
  }
  return url;
}

export default React.createClass({
  displayName: 'ControlledInput',

  getInitialState: () => ({
    inputValue: '',
    submitted: null
  }),

  handleSubmit: function(e) {
    e.preventDefault();
    const value = e.target.myInput.value;
    this.setState({ submitted: value });
  },

  handleChange: function(e) {
    const value = e.target.value;
    this.setState({ inputValue: formatUrl(value) });
  },

  render() {
    return (
      <div>
        <form onSubmit={ this.handleSubmit }>
          <input
            name='myInput'
            onChange={ this.handleChange }
            type='text'
            value={ this.state.inputValue }
          />
        </form>
        <Text textColor='secondary'>Last Value Submitted</Text>
        <input
          placeholder='No value submitted'
          type='text'
          value={ this.state.submitted }
        />
      </div>
    );
  }
});
