import React from 'react';

export default React.createClass({
  displayName: 'ControlledInput',

  getInitialState: () => ({ inputValue: '' }),

  handleSubmit: function(e) {
    e.preventDefault();
    console.log('submitted', e.target.myInput.value);
  },

  handleChange: function(e) {
    console.log('value changed', e.target.value);
    this.setState({ inputValue: e.target.value });
  },

  render() {
    return (
      <form onSubmit={ this.handleSubmit }>
        <input
          name='myInput'
          onChange={ this.handleChange }
          type='text'
          value={ this.state.inputValue }
        />
      </form>
    );
  }
});
