import React from 'react';

export default React.createClass({
  display: 'PresentationalComponent',
  propTypes: {
    href: React.propTypes.string,
    title: React.propTypes.string
  },

  render() {
    const href = this.props.href;
    const title = this.props.title;
    return (
      <div className='Post'>
        <a
          href={ href }
          target='_blank'
          >
          { title }
        </a>
      </div>
    );
  }
});
