// http://jsbin.com/redigaxugu/edit?js,console,output
const FancyInput = React.createClass({
  displayName: 'FancyInput',

  handleSubmit: function(e) {
    e.preventDefault();
    console.log('submitted', e.target.myInput.value);
  },

  handleChange: function(e) {
    console.log('value changed', e.target.value);
  },

  render() {
    return (
      <form onSubmit={ this.handleSubmit }>
        <input
          name='myInput'
          onChange={ this.handleChange }
          type='text' />
      </form>
    );
  }
});
