* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #e6e6e6;
  font-size: 18px;
}

.App {
  background: #222;
  min-width: 320px;
  padding: 20px;
  text-align: center;
}

.App img {
  display: inline-block;
  width: 80px;
  height: 80px;
}

@media only screen and (max-width: 420px) {
  .App img {
    display: block;
    margin: 0 auto;
  }
}

